.bg-plane{
    background-image: url(../theme/img/landing/background_login.jpg);
    background-size: cover;
}

.ibox-content{
    background: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    /* width: 500px; */
    height: 400px;
}

.absolute {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 158px;
    height: 44px;
}