.bg-plane {
    background-image: url(../theme/img/landing/background_login.jpg);
    background-size: cover;
}

.absolute {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 158px;
    height: 44px;
}

.font-login {
    font-weight: 600;
    margin-bottom: 20px;
}

.font-welcome {
    font-weight: 600;
    margin-bottom: 20px;
}

.rounded-c {
    border-radius: 5px;
}
.dropdown-it {
    background-color: indianred;
}

.absolute2 {
    position: absolute;
    top: 5px;
    left: 22px;
    width: 25px;
    height: 25px;
}

body {
    color: #000;
}

.table {
    color: #000;
}

.text-dark {
    color: #000 !important;
}

.nav > li.active {
    background: #111b24;
}

.navbar-default .nav > li > a:hover, .navbar-default .nav > li > a:focus {
    background-color: #091219;
    color: white;
}

.opacity-0 {
    opacity:0!important;
}
.opacity-1 {
    opacity:0.2!important;
}
.opacity-2 {
    opacity:0.4!important;
}
.opacity-3 {
    opacity:0.6!important;
}
.opacity-4 {
    opacity:.8!important;
}
.opacity-5 {
    opacity:1!important;
}

/* Maybe even support hover opacity shifts */
.opacity-0h5 {
    opacity:0!important;
    transition: opacity .25s ease-in-out!important;
    -moz-transition: opacity .25s ease-in-out!important;
    -webkit-transition: opacity .25s ease-in-out!important;
}
.opacity-0h5:hover {
    opacity:1!important;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #000;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.1);
}

.select2-container--bootstrap4.select2-container--focus .select2-selection {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.1);
}

.btn-outline-secondary:hover {
    color: #fff;
    background-color: #009688;
    border-color: #009688;
}

.btn-outline-secondary:not(:disabled):not(.disabled).active, .btn-outline-secondary:not(:disabled):not(.disabled):active, .show>.btn-outline-secondary.dropdown-toggle {
    color: #fff;
    background-color: #056259;
    border-color: #056259;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary.focus {
    background-color: #00725b;
    border-color: #00725b;
    color: #FFFFFF;
}